
   
  ul {
    list-style: none;
  }

  .heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
    text-align: center;
  }


.input {
    position: relative;
    display: block;
    margin : 0, auto;
    margin-left: 45%;
}
.submit{
        position: relative;
        display: block;
        margin : 0, auto;
        margin-left: 48%;
}
.container{
    margin: 20% auto 0px; 
    width: 100%; 
    text-align:center;
    
}
  @media screen and (max-width: 700px) {
    .top-banner form {
      flex-direction: block;
  
    }
     
    .top-banner form input,
    .top-banner form button {
      width: 100%;
      position: relative;
      display: block;
      margin : 0;
      
    }
   
    .top-banner form button {
      margin: 20px 0 0 0;
    }
     
    .top-banner form .msg {
      position: static;
      max-width: none;
      min-height: 0;
      margin-top: 10px;
    }
}

