.main-container{
    margin-top: 300px;
    
}

.todo{
    text-align: center;
}

.input{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.submit-button{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

body{
    background-color: rgb(20, 170, 180);
}