.header, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10{
    background-color: aqua;
    margin: 5px;

}
.box1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box2{
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 8;
}

.box3{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-end: 1;
}

.box4{
    
}

.box5{
    
}

.box6{
    
}

.box7{
    
}

.box8{
    
}

.box9{
    
}

.box10{
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    
}