

.container{
    
    display: grid;
    grid-template: 
            "a a a" 200px
            "b c c" 100px
            "b c c" 100px
}
h1{
    text-align: center;
    padding-top: 30px;
}
.input{
    display: block;
    margin: 0 auto;
}
.submit{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.a{
grid-area: a;
background-color: aqua;
height: 200px;
}

.b{
    grid-area: b;
    background-color: aquamarine;
    height: 400px;
}

.c{
    grid-area: c;
    background-color: bisque;
    height: 400px;
}
