.container img{
    width: 100%;
}

body{
    background-image: linear-gradient(#ade8f4,  #00b4d8, #ade8f4, #00b4d8);
    height: 14800px;
}

img{
    border-radius: 5%;
    
}

.c{
    text-align: center;

}

.article{
    margin-bottom: 40px;
}

h2, h4{
    font-family: "Papyrus";

}

@media only screen and (max-width: 600px) {

    body{
        background-image: linear-gradient(#ade8f4,  #00b4d8, #ade8f4, #00b4d8);
        height: 10300px;
    }
}